@model IEnumerable<MyClass.Models.Category>
<div class="listcategory mb-4">
    <div class="card" style="width: 100%;">
        <div class="card-header bd-green-500">
            DANH MỤC SẢN PHẨM
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var category in Model) {
            <li class="list-group-item">
                <a href="~/@category.Slug">@category.Name</a>
            </li>
            }
        </ul>
    </div>
</div>
