a, a:link, a:active, a:hover
{
    text-decoration: none;
}
.bd-green-500
{
    color:#fff;
    background-color: #198754;
}
.bg-policy
{
    background: #38b38a;
    color: #FFF;
    padding: 40px 0;
}
h4.post-title
{
    font-size: 14px;
}
h4.post-title a
{
    text-decoration: none;
    color: #198754;
}
.listcategory a
{
    color: #198754;
}
.policy p
{
    color: #fff;
}
.policy .social a
{
    display: inline-block;
    background: #FFF;
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 26px;
    margin: 0px 7px;
}
.footer p
{
    padding: 0px;
    margin: 5px;
    font-size: 18px;
}
.footer ul
{
    padding: 0px;
    margin: 0px;
}
.footer ul li
{
    list-style: none;
    line-height: 32px;
}
.footer ul li a
{
    font-size: 18px;
    color: #198754;
}
.topic-title h2, .category-title h2
{
    color: #198754;
}